.BrowseByCategories {
  margin-top: 100px;
  margin-bottom: 100px;
  border-bottom: 1.2px solid rgba(128, 128, 128, 0.404);

  .content {
    .title {
      display: flex;
      align-items: center;
      gap: 15px;

      .block {
        width: 20px;
        height: 40px;
        border-radius: 4px;
        background: rgb(219, 68, 68);
      }

      h1 {
        color: rgb(219, 68, 68);
        font-size: clamp(13px, 1vw, 16px);
        font-weight: 600;
      }
    }

    .title2 {
      display: flex;
      gap: 100px;
      margin-bottom: 30px;

      h1 {
        margin-top: 20px;
        font-size: 28px;
        font-weight: 700;
      }
    }

    .boxes {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      padding: 20px 0;

      .box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 4px;
        border: 2px solid rgba(128, 128, 128, 0.288);
        width: 170px;
        height: 145px;
        cursor: pointer;
        background-color: white;
        transition: background-color 0.3s ease, color 0.3s ease;

        h1 {
          font-size: 56px;
          opacity: 0.8;
          color: inherit;
        }

        h2 {
          color: rgb(0, 0, 0);
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0%;
        }

        &.active {
          background-color: rgb(219, 68, 68);

          h1,
          h2 {
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .BrowseByCategories {
    margin-top: 70px;
    margin-bottom: 100px;
    border-bottom: 1.2px solid rgba(128, 128, 128, 0.404);

    .content {
      .title {
        display: flex;
        align-items: center;
        gap: 15px;

        .block {
          width: 20px;
          height: 40px;
          border-radius: 4px;
          background: rgb(219, 68, 68);
        }

        h1 {
          color: rgb(219, 68, 68);
          font-size: 14px;
          font-weight: 600;
        }
      }

      .title2 {
        display: flex;
        margin-bottom: 30px;

        h1 {
          margin-top: 15px;
          font-size: 20px;
          font-weight: 700;
        }
      }

      .boxes {
        .box {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 4px;
          border: 2px solid rgba(128, 128, 128, 0.288);
          width: 170px;
          height: 145px;
          cursor: pointer;
          background-color: white;
          transition: background-color 0.3s ease, color 0.3s ease;

          h1 {
            font-size: 56px;
            opacity: 0.8;
            color: inherit;
          }

          h2 {
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
          }

          &.active {
            background-color: rgb(219, 68, 68);

            h1,
            h2 {
              color: white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .BrowseByCategories {
    .content {
      .boxes {
        gap: 15px;
        .box {
          width: 120px;
          height: 100px;
          h1{
            font-size: 40px;
          }
        }
      }
    }
  }
}
