.search_input_wrapper {
  display: flex;
  position: relative;
  .search_input {
    border-radius: 4px;
    background: rgb(245, 245, 245);
    border: none;
    width: 243px;
    padding: 7px 12px 7px 45px;
    height: 38px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    opacity: 0.5;

    &::placeholder {
      color: #666;
    }
  }

  .searchIcon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
    width: 20px;
  }

  button {
    padding: 7px;
    border-radius: 4px;
    border: #666 1px solid;
  }
}
