.SearchPage {
    .content {
        .carts {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            padding: 20px 0;

            .cart {
                display: flex;
                flex-direction: column;
                width: 300px;
                border-radius: 8px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                background: white;
                transition: transform 0.2s;

                &:hover {
                    transform: translateY(-5px);

                    .btns {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }

                .svg {
                    position: relative;
                    padding: 30px;
                    border-radius: 8px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background: white;

                    img {
                        width: 200px;
                        height: 150px;
                        transition: transform 0.3s;
                    }

                    &:hover img {
                        transform: scale(1.05);
                    }
                }

                .btns {
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    opacity: 0;
                    transform: translateY(20px);
                    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                        opacity 0.3s ease-out;

                    .addToCartBtn {
                        width: 80%;
                        height: 40px;
                        font-size: 16px;
                        font-weight: 500;
                        color: #ffffff;
                        background-color: black;
                        border-radius: 20px;

                        &.disabled {
                            background: gray;
                            cursor: not-allowed;
                        }
                    }
                }

                .title {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                    padding: 15px;

                    h1 {
                        color: rgb(0, 0, 0);
                        font-size: 20px;
                        font-weight: 500;
                        text-align: center;
                    }

                    p {
                        color: rgb(219, 68, 68);
                        font-size: 16px;
                        font-weight: 500;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .SearchPage {
        .content {
            .carts {
                gap: 30px;

                .cart {
                    border: 1px solid rgba(128, 128, 128, 0.199);
                    transition: transform 0.2s;

                    .btns {
                        opacity: 1;
                        transform: translateY(0);
                    }

                    .title {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}